body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button.clickable {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
}

.button.active {
  background-color: var(--color-secondary-accent);
  border-color: var(--color-secondary-accent);
  color: black;
}
